@import "./fonts/fonts.css";

:root {
  --primary-color: #e05e00;
  --secondary-color: #fff9f4;
  --text-color: #121212;
  --margin-base: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--margin-base);
}
img[src*=".gif"] {
  border-radius: 8px;
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
  font-size: 16px;
  font-family: Graphik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-top: clamp(1.875rem, 10vw, 10rem);
  padding-bottom: clamp(5.625rem, 10vw, 10rem);
  padding-right: clamp(1.875rem, 10vw, 11.25rem);
  padding-left: clamp(1.875rem, 10vw, 11.25rem);
}

h1 {
  font-family: Canela, sans-serif;
  line-height: 1.1;
  font-weight: 100;
  font-size: clamp(2rem, 1rem + 4vw, 6.62rem);
  margin-bottom: clamp(2rem, 1rem + 4vw, 6.62rem);
}
h2,
h3 {
  font-family: Canela, sans-serif;
  line-height: 1.3;
  font-weight: 300;
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
  margin-bottom: 2rem;
}
h2 a,
h3 a {
  text-decoration: none;
  padding: 2px 0;
}
h2 a:hover,
h3 a:hover {
  border-bottom: solid 1px;
}
h3 {
  font-family: Graphik, sans-serif;
  font-size: clamp(1.2rem, 1rem + 2vw, 1.5rem);
  color: var(--text-color);
}
h3 a {
  color: var(--text-color);
}

p,
ul,
ol {
  font-family: Graphik;
  font-size: 1rem;
  line-height: 1.8;
  width: 100%;
  margin-bottom: var(--margin-base);
  color: var(--text-color);
}
p a {
  text-decoration: none;
  border-bottom: solid 1px;
  padding: 2px 0;
}
p a:hover {
  border-bottom: solid 1px;
}
p img {
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 20px;
}

a {
  color: inherit;
}
a:visited {
  opacity: 0.4;
}

hr {
  border: none;
  border-top: solid 1px #e2e2e2;
  margin: var(--margin-base) 0;
}

section {
  margin-bottom: 2rem;
}

article,
.page {
  max-width: 540px;
}
article header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
article header .tags {
  margin-left: 10px;
}
article header .tags a {
  margin-right: 5px;
}

iframe {
  margin-bottom: var(--margin-base);
  border-radius: 8px;
  overflow: hidden;
  border: none;
}

.postlist__item {
  margin-bottom: 50px;
}
.postlist__header {
  color: var(--text-color);
}
.postlist__date {
}

nav.primary-menu {
  margin-bottom: var(--margin-base);
  color: var(--text-color);
}

blockquote {
  padding: 20px;
  background: rgba(0, 0, 0, 0.02);
  margin-bottom: 20px;
}
blockquote p {
  margin-bottom: 0;
}

.home-emoji {
  cursor: pointer;
  user-select: none;
}
