<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Panelbear Analytics - We respect your privacy -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=2hTnHajl7Gd"></script>
    <script>
      window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
      panelbear('config', { site: '2hTnHajl7Gd' });
    </script>

  </head>
  <body>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <script>
      function scriptyScripts() {
        const emojiList = ['🧄', '🍅', '🧅', '🥦', '🌱', '🥑', '🥥', '🌶', '☘️', '🌵', '🌻', '🐝', '🐛', '🌾', '🍄', '🍋', '🍉', '🌷'];
        const emojiElement = document.querySelector('.home-emoji')

        if (!emojiElement) return

        function updateEmoji() {
          if (Math.floor(1 + Math.random() * 100) === 99) {
            emojiElement.innerHTML = '👁‍🗨🐽👁‍🗨'; // goth pig is watching you
            return
          }

          emojiElement.innerHTML = emojiList[Math.floor(Math.random() * emojiList.length)];
        }

        updateEmoji()

        emojiElement.addEventListener('click', function(e) {
          updateEmoji()
        })
      }

      scriptyScripts()
    </script>
  </body>
</html>
