---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<nav class="primary-menu">
  <a href="/">go back home</a>
</nav>
<h1>Archive</h1>

{% set postslist = collections.extendedPostlist %}
{% include "postslist.njk" %}
