---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>paladini's digital garden</h1>

<div class="page">
  <section>
    <p>Hello hello 👋</p>

    <p>My name is Vitor Paladini and this is my digital garden.</p>

    <p>I'm a front-end engineer and technical writer by trade, so if you catch me afk that's a sign I'm probably not working and maybe snapping some pictures with my trusty Canon M50, or cooking something for my lovely wife.</p>

    <p>Today I spend my working days at <a href="https://getcircuit.com/" target="_blank">Circuit</a> making delivery better for drivers, dispatchers, customers and everyone in between.</p>

    <p>Previously, I developed travel industry software at <a href="https://outboundhq.com/" target="_blank">Outbound</a>, managed a couple teams at <a href="https://stone.co/" target="_blank">Stone</a>, and published a few dozen WordPress websites during my agency years.</p>

    <p>Much like a real garden, this is the place where I grow and highlight some of my favorite ideas and content. Also like a real garden, you'll see maintenance signs and loose dirt here and there, proceed with caution.</p>

    <p>Feel free to browse around and hit me up on <a href="https://twitter.com/paladini_dev" target="_blank">Twitter</a> if you'd like to chat about anything you saw around these parts.</p>
  </section>

  <section>
    <h2>Articles</h2>

    <img src="img/under-construction.gif" alt="A dated under construction GIF (with a hard G, please)."/>

    <p>I'm moving everything I ever wrote to locally hosted markdown files. This section might take a while to come around.</p>
  </section>

  <section>
    <h2>Photography</h2>

    <p>I have an <a href="https://unsplash.com/@vtrpldn" target="_blank">Unsplash profile</a> that you can check, most of my best work is there. I'm by no means a professional but this creative outlet brings me great joy and fulfilment.</p>

    <a href="https://unsplash.com/@vtrpldn" target="_blank"><img src="img/photography-1.jpg" alt="Picture of a church facade with colorful buildings in the foreground."/></a>

    <p>When I'm out shooting I pack a very light and portable Canon M50, a Viltrox 0.71x speed booster adapter, a "cheap and finicky" EF 75-300mm f/4-5.6 III, and "cheap and fantastic" 50mm f/1.8 that pairs wonderfully with the adapter.</p>
  </section>

</div>
