---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<p>Hello hello,</p>

<h1>My name is Vitor Paladini<br/>and this is my digital garden 🧄</h1>

<div class="page">
  <section>
    <p>As a quick intro, I'm a front-end engineer and technical writer by trade, which means <em>a lot</em> of screen time. So if you catch me afk that's a sign I'm probably not working and may be snapping some pictures with my trusty Canon M50, or cooking something for my lovely wife instead.</p>

    <p>I spend my working days at <a href="https://getcircuit.com/" target="_blank">Circuit</a> making delivery better for drivers, dispatchers, customers and everyone in-between.</p>

    <p>Previously, I developed travel industry software at <a href="https://outboundhq.com/" target="_blank">Outbound</a>, managed a couple teams at <a href="https://stone.co/" target="_blank">Stone</a>, and published a few dozen WordPress websites during my agency years.</p>

    <p>Much like a real garden, this is the place where I grow, trim, and highlight some of my favorite ideas and content. Also like a real garden, you'll see maintenance signs and loose dirt here and there.</p>

    <p>Feel free to browse around and hit me up on <a href="https://twitter.com/paladini_dev" target="_blank">Twitter</a> if you'd like to chat about anything you saw around these parts.</p>
  </section>

  <section>
    <h2>Articles & Tutorials</h2>

    <img src="img/under-construction.gif" alt="A dated under construction GIF (with a hard G, please)."/>

    <p>I'm moving everything I ever wrote to locally hosted markdown files. This section might take a while to come around.</p>

    <p>Meanwhile, you can <a href="/posts">click here</a> if you want to see how that content move is going.</p>

    <p>Or check some personal favorites:</p>

    <h3><a href="/posts/vs-code-shortcuts-that-i-would-teach-myself-if-i-had-a-time-machine-with-limited-fuel">VS Code Shortcuts That I Would Teach Myself if I Had a Time Machine With Limited Fuel →</a></h3>
    <h3><a href="/posts/responsive-snakes-and-what-they-can-teach-you-about-css">Responsive Snakes! And What They Can Teach You About CSS 🐍 →</a></h3>
    <h3><a href="/posts/how-i-manage-impostor-syndrome-fear-of-failure-and-other-common-programmer-problems">How I Manage Impostor Syndrome, Fear of Failure, and Other Common Programmer Problems →</a></h3>
  </section>

  <section>
    <h2>Photography</h2>

    <p>I have an <a href="https://unsplash.com/@vtrpldn" target="_blank">Unsplash profile</a> that you can check, most of my best work is there. I'm by no means a professional photographer but this creative outlet brings me great joy and fulfilment.</p>

    <a href="https://unsplash.com/@vtrpldn" target="_blank"><img src="img/photography-1.jpg" alt="Picture of a church facade with colorful buildings in the foreground."/></a>

    <p>When I'm out shooting I pack a very light and portable Canon M50, a Viltrox 0.71x speed booster adapter, a "cheap and finicky" EF 75-300mm f/4-5.6 III, and "cheap and fantastic" 50mm f/1.8 that pairs wonderfully with the adapter.</p>
  </section>

  <section>
    <h2>Websites, blogs, digital gardening and content ownership</h2>

    <p>I've been seeing this concept of digital gardens around for a while now and the concept serves my needs so well. I really like the idea of having a single place to archive and display stuff I make/work with.</p>

    <p>I also love not having to wait for things to be "done" before posting them, be it in a blog or anywhere else. I was heavily inspired by <a href="https://joelhooks.com/" target="_blank">Joel Hook's digital garden</a> while making mine, be sure to check his.</p>
  </section>
</div>
